.employee-table {
  border-collapse: collapse; /* Ensure borders are consistent */
}

.employee-table th,
.employee-table td {
  border: 1px solid black; /* Set border style for table cells */
  padding: 5px; /* Add padding for better readability */
}
caption {
  caption-side: top;
  font-weight: bold;
  font-size: larger;
  color: darkgreen;
}

td {
  text-align: center;
  vertical-align: middle;
}
